@import "tailwindcss";
:root {
  --color-primary: #001C55;
  --color-secondary: #7F8DAA;
  --color-background: #EDF9FE;
  /* --color-background-secondary is used for background elements, while --color-primary is for text and accents, even though both share the same color value */
  /* --color-background-secondary: #001C55; */
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}

.text-background {
  color: var(--color-background);
}

.bg-primary {
  background-color: var(--color-background);
}
.bg-secondary {
  background-color: var(--color-primary);
}


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 370px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  top: 0;
}