---
interface Props {
    href?: string;
}
const { href } = Astro.props;
const normalize = (path:string | undefined) => path ? path.replace(/\/$/, '') : '';
const isActive = normalize(Astro.url.pathname) === normalize(href);
---
<li class="list-none">
    <a href={href}
    class={`p-5 text-primary hover:bg-[#A6E1FA] hover:rounded-2xl transition-colors duration-200 ${isActive ? 'font-bold' : ''}`}
    >
        <slot>
    </a>
</li>
