<footer>
  <div class=" text-secondary py-4 font-bold">
    <div class="container mx-auto text-center">
      <p>&copy; 2023 Santiago. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
