---
import { socialMediaLinks } from "../const/socialMedia.ts";
---

<div class="flex gap-4 justify-center">
  {
    socialMediaLinks.map((media) => (
      <a
        href={media.link}
        class="icon-button flex items-center justify-center w-12 h-12 rounded-full aspect-square duration-300 hover:scale-110 transition-all"
        target="_blank"
        rel="noopener noreferrer"
        style={`background-color: ${media.backgroundColor};`}
      >
        <i class={`fab ${media.fontAwesomeIcon} text-2xl text-white`} />
      </a>
    ))
  }
</div>
